# ABCN2 Algorithm

The following notebook is used to import a dataset, and apply the ABCN2 algorithm to it. This uses the CN2 rule based learning algorithm, as well as expert rules which we will also derive from the dataset in this notebook

Data: Heart Attack Prediction, https://www.kaggle.com/imnikhilanand/heart-attack-prediction/downloads/heart-attack-prediction.zip/1

## Imports and reading data

In [1]:
import numpy as np
import pandas as pd
import Orange

In [2]:
FILE_INPUT = 'data.csv'

In [3]:
df = pd.read_csv(FILE_INPUT)
df = df.replace('?', np.nan)

## Data exploration

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132,0,2,185,0,0.0,NaN,NaN,NaN,0
1,29,1,2,120,243,0,0,160,0,0.0,NaN,NaN,NaN,0
2,29,1,2,140,NaN,0,0,170,0,0.0,NaN,NaN,NaN,0
3,30,0,1,170,237,0,1,170,0,0.0,NaN,NaN,6,0
4,31,0,2,100,219,0,1,150,0,0.0,NaN,NaN,NaN,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
age           294 non-null int64
sex           294 non-null int64
cp            294 non-null int64
trestbps      293 non-null object
chol          271 non-null object
fbs           286 non-null object
restecg       293 non-null object
thalach       293 non-null object
exang         293 non-null object
oldpeak       294 non-null float64
slope         104 non-null object
ca            3 non-null object
thal          28 non-null object
num           294 non-null int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.3+ KB

In [6]:
df.describe()

              age         sex          cp     oldpeak  num
count  294.000000  294.000000  294.000000  294.000000  294.000000
mean    47.826531    0.724490    2.982993    0.586054    0.360544
std      7.811812    0.447533    0.965117    0.908648    0.480977
min     28.000000    0.000000    1.000000    0.000000    0.000000
25%     42.000000    0.000000    2.000000    0.000000    0.000000
50%     49.000000    1.000000    3.000000    0.000000    0.000000
75%     54.000000    1.000000    4.000000    1.000000    1.000000
max     66.000000    1.000000    4.000000    5.000000    1.000000

In [7]:
# Prints unique values
df.nunique()

age            38
sex             2
cp              4
trestbps       31
chol          153
fbs             2
restecg         3
thalach        71
exang           2
oldpeak        10
slope           3
ca              1
thal            3
num             2
dtype: int64

In [8]:
# Number of NaNs in the dataframe
df.isnull().sum()

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

## CN2 Algorithm

In [28]:
heart_attack = Orange.data.Table(FILE_INPUT)
for x in heart_attack.domain.attributes:
    n_miss = sum(1 for d in heart_attack if np.isnan(d[x]))
    print("%4.1f%% %s" % (100.0 * n_miss / len(heart_attack), x.name))

 0.0% age
 0.0% sex
 0.0% cp
 0.3% trestbps
 7.8% chol
 2.7% fbs
 0.3% restecg
 0.3% thalach
 0.3% exang
 0.0% oldpeak
64.6% slope
99.0% ca
90.5% thal
 0.0% num

In [25]:
# Construct a learning algorithm and classifier
cn2_classifier = Orange.classification.rules.CN2Learner(heart_attack)
cn2_classifier

# All rule-base classifiers can have their rules printed out like this:
# for r in cn2_classifier.rules:
#     print(Orange.classification.rules.rule_to_string(r))

CN2Learner(preprocessors=([28, 1, 2, 130, 132, ...],
            [29, 1, 2, 120, 243, ...],
            [29, 1, 2, 140, ?, ...],
            [30, 0, 1, 170, 237, ...],
            [31, 0, 2, 100, 219, ...],
            [32, 0, 2, 105, 198, ...],
            [32, 1, 2, 110, 225, ...],
            [32, 1, 2, 125, 254, ...],
            [33, 1, 3, 120, 298, ...],
            [34, 0, 2, 130, 161, ...],
            [34, 1, 2, 150, 214, ...],
            [34, 1, 2, 98, 220, ...],
            [35, 0, 1, 120, 160, ...],
            [35, 0, 4, 140, 167, ...],
            [35, 1, 2, 120, 308, ...],
            [35, 1, 2, 150, 264, ...],
            [36, 1, 2, 120, 166, ...],
            [36, 1, 3, 112, 340, ...],
            [36, 1, 3, 130, 209, ...],
            [36, 1, 3, 150, 160, ...],
            [37, 0, 2, 120, 260, ...],
            [37, 0, 3, 130, 211, ...],
            [37, 0, 4, 130, 173, ...],
            [37, 1, 2, 130, 283, ...],
            [37, 1, 3, 130, 194, ...],
            [37, 1, 4, 120, 223, ...],
            [37, 1, 4, 130, 315, ...],
            [38, 0, 2, 120, 275, ...],
            [38, 1, 2, 140, 297, ...],
            [38, 1, 3, 145, 292, ...],
            [39, 0, 3, 110, 182, ...],
            [39, 1, 2, 120, ?, ...],
            [39, 1, 2, 120, 200, ...],
            [39, 1, 2, 120, 204, ...],
            [39, 1, 2, 130, ?, ...],
            [39, 1, 2, 190, 241, ...],
            [39, 1, 3, 120, 339, ...],
            [39, 1, 3, 160, 147, ...],
            [39, 1, 4, 110, 273, ...],
            [39, 1, 4, 130, 307, ...],
            [40, 1, 2, 130, 275, ...],
            [40, 1, 2, 140, 289, ...],
            [40, 1, 3, 130, 215, ...],
            [40, 1, 3, 130, 281, ...],
            [40, 1, 3, 140, ?, ...],
            [41, 0, 2, 110, 250, ...],
            [41, 0, 2, 125, 184, ...],
            [41, 0, 2, 130, 245, ...],
            [41, 1, 2, 120, 291, ...],
            [41, 1, 2, 120, 295, ...],
            [41, 1, 2, 125, 269, ...],
            [41, 1, 4, 112, 250, ...],
            [42, 0, 3, 115, 211, ...],
            [42, 1, 2, 120, 196, ...],
            [42, 1, 2, 120, 198, ...],
            [42, 1, 2, 150, 268, ...],
            [42, 1, 3, 120, 228, ...],
            [42, 1, 3, 160, 147, ...],
            [42, 1, 4, 140, 358, ...],
            [43, 0, 1, 100, 223, ...],
            [43, 0, 2, 120, 201, ...],
            [43, 0, 2, 120, 215, ...],
            [43, 0, 2, 120, 249, ...],
            [43, 0, 2, 120, 266, ...],
            [43, 0, 2, 150, 186, ...],
            [43, 0, 3, 150, ?, ...],
            [43, 1, 2, 142, 207, ...],
            [44, 0, 4, 120, 218, ...],
            [44, 1, 2, 120, 184, ...],
            [44, 1, 2, 130, 215, ...],
            [44, 1, 4, 150, 412, ...],
            [45, 0, 2, 130, 237, ...],
            [45, 0, 2, 180, ?, ...],
            [45, 0, 4, 132, 297, ...],
            [45, 1, 2, 140, 224, ...],
            [45, 1, 3, 135, ?, ...],
            [45, 1, 4, 120, 225, ...],
            [45, 1, 4, 140, 224, ...],
            [46, 0, 4, 130, 238, ...],
            [46, 1, 2, 140, 275, ...],
            [46, 1, 3, 120, 230, ...],
            [46, 1, 3, 150, 163, ...],
            [46, 1, 4, 110, 238, ...],
            [46, 1, 4, 110, 240, ...],
            [46, 1, 4, 180, 280, ...],
            [47, 0, 2, 140, 257, ...],
            [47, 0, 3, 130, ?, ...],
            [47, 1, 1, 110, 249, ...],
            [47, 1, 2, 160, 263, ...],
            [47, 1, 4, 140, 276, ...],
            [48, 0, 2, ?, 308, ...],
            [48, 0, 2, 120, ?, ...],
            [48, 0, 2, 120, 284, ...],
            [48, 0, 3, 120, 195, ...],
            [48, 0, 4, 108, 163, ...],
            [48, 0, 4, 120, 254, ...],
            [48, 0, 4, 150, 227, ...],
            [48, 1, 2, 100, ?, ...],
            [48, 1, 2, 130, 245, ...],
            [48, 1, 2, 140, 238, ...],
            [48, 1, 3, 110, 211, ...],
            [49, 0, 2, 110, ?, ...],
            [49, 0, 2, 110, ?, ...],
            [49, 0, 2, 124, 201, ...],
            [49, 0, 3, 130, 207, ...],
            [49, 1, 2, 100, 253, ...],
            [49, 1, 3, 140, 187, ...],
            [49, 1, 4, 120, 297, ...],
            [49, 1, 4, 140, ?, ...],
            [50, 0, 2, 110, 202, ...],
            [50, 0, 4, 120, 328, ...],
            [50, 1, 2, 120, 168, ...],
            [50, 1, 2, 140, 216, ...],
            [50, 1, 2, 170, 209, ...],
            [50, 1, 4, 140, 129, ...],
            [50, 1, 4, 150, 215, ...],
            [51, 0, 2, 160, 194, ...],
            [51, 0, 3, 110, 190, ...],
            [51, 0, 3, 130, 220, ...],
            [51, 0, 3, 150, 200, ...],
            [51, 1, 2, 125, 188, ...],
            [51, 1, 2, 130, 224, ...],
            [51, 1, 4, 130, 179, ...],
            [52, 0, 2, 120, 210, ...],
            [52, 0, 2, 140, ?, ...],
            [52, 0, 3, 125, 272, ...],
            [52, 0, 4, 130, 180, ...],
            [52, 1, 2, 120, 284, ...],
            [52, 1, 2, 140, 100, ...],
            [52, 1, 2, 160, 196, ...],
            [52, 1, 3, 140, 259, ...],
            [53, 0, 2, 113, 468, ...],
            [53, 0, 2, 140, 216, ...],
            [53, 0, 3, 120, 274, ...],
            [53, 1, 2, 120, ?, ...],
            [53, 1, 2, 140, 320, ...],
            [53, 1, 3, 120, 195, ...],
            [53, 1, 4, 124, 260, ...],
            [53, 1, 4, 130, 182, ...],
            [53, 1, 4, 140, 243, ...],
            [54, 0, 2, 120, 221, ...],
            [54, 0, 2, 120, 230, ...],
            [54, 0, 2, 120, 273, ...],
            [54, 0, 2, 130, 253, ...],
            [54, 0, 2, 140, 309, ...],
            [54, 0, 2, 150, 230, ...],
            [54, 0, 2, 160, 312, ...],
            [54, 1, 1, 120, 171, ...],
            [54, 1, 2, 110, 208, ...],
            [54, 1, 2, 120, 238, ...],
            [54, 1, 2, 120, 246, ...],
            [54, 1, 2, 160, 195, ...],
            [54, 1, 2, 160, 305, ...],
            [54, 1, 3, 120, 217, ...],
            [54, 1, 3, 150, ?, ...],
            [54, 1, 4, 150, 365, ...],
            [55, 0, 2, 110, 344, ...],
            [55, 0, 2, 122, 320, ...],
            [55, 0, 2, 130, 394, ...],
            [55, 1, 2, 120, 256, ...],
            [55, 1, 2, 140, 196, ...],
            [55, 1, 2, 145, 326, ...],
            [55, 1, 3, 110, 277, ...],
            [55, 1, 3, 120, 220, ...],
            [55, 1, 4, 120, 270, ...],
            [55, 1, 4, 140, 229, ...],
            [56, 0, 3, 130, 219, ...],
            [56, 1, 2, 130, 184, ...],
            [56, 1, 3, 130, ?, ...],
            [56, 1, 3, 130, 276, ...],
            [56, 1, 4, 120, 85, ...],
            [57, 0, 1, 130, 308, ...],
            [57, 0, 4, 180, 347, ...],
            [57, 1, 2, 140, 260, ...],
            [58, 1, 2, 130, 230, ...],
            [58, 1, 2, 130, 251, ...],
            [58, 1, 3, 140, 179, ...],
            [58, 1, 4, 135, 222, ...],
            [59, 0, 2, 130, 188, ...],
            [59, 1, 2, 140, 287, ...],
            [59, 1, 3, 130, 318, ...],
            [59, 1, 3, 180, 213, ...],
            [59, 1, 4, 140, ?, ...],
            [60, 1, 3, 120, 246, ...],
            [61, 0, 4, 130, 294, ...],
            [61, 1, 4, 125, 292, ...],
            [62, 0, 1, 160, 193, ...],
            [62, 1, 2, 140, 271, ...],
            [31, 1, 4, 120, 270, ...],
            [33, 0, 4, 100, 246, ...],
            [34, 1, 1, 140, 156, ...],
            [35, 1, 2, 110, 257, ...],
            [36, 1, 2, 120, 267, ...],
            [37, 1, 4, 140, 207, ...],
            [38, 1, 4, 110, 196, ...],
            [38, 1, 4, 120, 282, ...],
            [38, 1, 4, 92, 117, ...],
            [40, 1, 4, 120, 466, ...],
            [41, 1, 4, 110, 289, ...],
            [41, 1, 4, 120, 237, ...],
            [43, 1, 4, 150, 247, ...],
            [46, 1, 4, 110, 202, ...],
            [46, 1, 4, 118, 186, ...],
            [46, 1, 4, 120, 277, ...],
            [47, 1, 3, 140, 193, ...],
            [47, 1, 4, 150, 226, ...],
            [48, 1, 4, 106, 263, ...],
            [48, 1, 4, 120, 260, ...],
            [48, 1, 4, 160, 268, ...],
            [49, 0, 3, 160, 180, ...],
            [49, 1, 3, 115, 265, ...],
            [49, 1, 4, 130, 206, ...],
            [50, 0, 3, 140, 288, ...],
            [50, 1, 4, 145, 264, ...],
            [51, 0, 4, 160, 303, ...],
            [52, 1, 4, 130, 225, ...],
            [54, 1, 4, 125, 216, ...],
            [54, 1, 4, 125, 224, ...],
            [55, 1, 4, 140, 201, ...],
            [57, 1, 2, 140, 265, ...],
            [58, 1, 3, 130, 213, ...],
            [59, 0, 4, 130, 338, ...],
            [60, 1, 4, 100, 248, ...],
            [63, 1, 4, 150, 223, ...],
            [65, 1, 4, 140, 306, ...],
            [32, 1, 4, 118, 529, ...],
            [38, 1, 4, 110, ?, ...],
            [39, 1, 4, 110, 280, ...],
            [40, 0, 4, 150, 392, ...],
            [43, 1, 1, 120, 291, ...],
            [45, 1, 4, 130, 219, ...],
            [46, 1, 4, 120, 231, ...],
            [46, 1, 4, 130, 222, ...],
            [48, 1, 4, 122, 275, ...],
            [48, 1, 4, 160, 193, ...],
            [48, 1, 4, 160, 329, ...],
            [48, 1, 4, 160, 355, ...],
            [50, 1, 4, 130, 233, ...],
            [52, 1, 4, 120, 182, ...],
            [52, 1, 4, 170, ?, ...],
            [53, 1, 4, 120, 246, ...],
            [54, 1, 3, 120, 237, ...],
            [54, 1, 4, 130, 242, ...],
            [54, 1, 4, 130, 603, ...],
            [54, 1, 4, 140, ?, ...],
            [54, 1, 4, 200, 198, ...],
            [55, 1, 4, 140, 268, ...],
            [56, 1, 4, 150, 213, ...],
            [57, 1, 4, 150, 255, ...],
            [58, 1, 3, 160, 211, ...],
            [58, 1, 4, 130, 263, ...],
            [41, 1, 4, 130, 172, ...],
            [43, 1, 4, 120, 175, ...],
            [44, 1, 2, 150, 288, ...],
            [44, 1, 4, 130, 290, ...],
            [46, 1, 1, 140, 272, ...],
            [47, 0, 3, 135, 248, ...],
            [48, 0, 4, 138, 214, ...],
            [49, 1, 4, 130, 341, ...],
            [49, 1, 4, 140, 234, ...],
            [51, 1, 3, 135, 160, ...],
            [52, 1, 4, 112, 342, ...],
            [52, 1, 4, 130, 298, ...],
            [52, 1, 4, 140, 404, ...],
            [52, 1, 4, 160, 246, ...],
            [53, 1, 3, 145, 518, ...],
            [53, 1, 4, 180, 285, ...],
            [54, 1, 4, 140, 216, ...],
            [55, 1, 1, 140, 295, ...],
            [55, 1, 2, 160, 292, ...],
            [55, 1, 4, 145, 248, ...],
            [56, 0, 2, 120, 279, ...],
            [56, 1, 4, 150, 230, ...],
            [56, 1, 4, 170, 388, ...],
            [58, 1, 2, 136, 164, ...],
            [59, 1, 4, 130, ?, ...],
            [59, 1, 4, 140, 264, ...],
            [65, 1, 4, 170, 263, ...],
            [66, 1, 4, 140, ?, ...],
            [41, 1, 4, 120, 336, ...],
            [43, 1, 4, 140, 288, ...],
            [44, 1, 4, 135, 491, ...],
            [47, 0, 4, 120, 205, ...],
            [47, 1, 4, 160, 291, ...],
            [49, 1, 4, 128, 212, ...],
            [49, 1, 4, 150, 222, ...],
            [50, 1, 4, 140, 231, ...],
            [50, 1, 4, 140, 341, ...],
            [52, 1, 4, 140, 266, ...],
            [52, 1, 4, 160, 331, ...],
            [54, 0, 3, 130, 294, ...],
            [56, 1, 4, 155, 342, ...],
            [58, 0, 2, 180, 393, ...],
            [65, 1, 4, 130, 275, ...]),
           base_rules=[])